html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.heading {
    background-color: #fff;
}

.form-group {
    padding: 1px 25px 1px 25px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #fff;
    border: 1px solid #bdc3c7;
    outline: 0;
}

.pager li > a {
    border-radius: 0px;
}

.headerSortUp,
.headerSortDown {
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700 !important;
    color: #1ca8dd !important;
    border-bottom-color: #1ca8dd !important;
}
.headerSortUp:after,
.headerSortDown:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    margin-right: -10px;
    margin-bottom: 2px;
    margin-left: 5px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.headerSortUp:after {
    border-top: 4px solid;
}
.headerSortDown:after {
    border-bottom: 4px solid;
}